# Configuration variables
url = ""
output = "sorted.m3u"
base_dir = "/data/M3Usort"
maxage_before_download = "4"
movies_dir = "/data/fake/Movies"
series_dir = "/data/fake/Series"
port_number = "5050"
enable_scheduler = "1"
overwrite_series = "0"
overwrite_movies = "0"
scan_interval = "10"
debug = "no"
hide_webserver_logs = "1"
match_type = "1"
jellyfin_enabled = "0"
jellyfin_url = ""
jellyfin_api_key = ""


# List of channel groups to whitelist
desired_group_titles = [
    "NL KANALEN",
]

# List of specific target channel names, in the desired order
new_group_title = "NL Custom"
target_channel_names = [
    "NL: NPO 1",
    "NL: NPO 2",
    "NL: NPO 3",
    "NL: RTL 4",
    "NL: RTL 5",
]

wanted_series = [
]
wanted_movies = [
]
